<h3>Halo <%= nama %></h3>

    <h2>Daftar List Mahasiswa</h2>
    <% if(mahasiswa.length < 1){ %>
        <p>data mahasiswa masih kosong</p>
    <% } %> 
    <% mahasiswa.forEach(mhs => { %>
    <ul>
        <li>Nama : <%= mhs.nama %> </li>
        <li>Email : <%= mhs.email %> </li>
    </ul>
    <% }) %>